<div mat-dialog-title>
    <span class="text-xl">{{data.title}}</span>
</div>
<mat-dialog-content class="border-t">
    <form [formGroup]="typeForm" class="md-form-field-appearance-outline">

        <mat-form-field appearance="outline" class="w-full mt-4">
            <mat-label>ឈ្មោះប្រភេទ</mat-label>
            <input matInput formControlName="name" placeholder="បញ្ចូលឈ្មោះប្រភេទ">
            <mat-error>សូមបញ្ចូលឈ្មោះប្រភេទ</mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex items-center justify-end gap-2">
    <button class="helpers-mat-button-md" mat-flat-button (click)="submit()" [disabled]="typeForm.invalid || saving">
        <span *ngIf="!typeForm.disabled">រក្សាទុក</span>
        <mat-progress-spinner *ngIf="typeForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="helpers-mat-button-md helpers-mat-button-red" [disabled]="saving" mat-flat-button [mat-dialog-close]="false">
        <span>បោះបង់</span>
    </button>
</mat-dialog-actions>
