# APPLICATION
PORT           = ${PORT:8080}

# DATABASE
DB_CONNECTION  = ${DB_CONNECTION:null}
DB_HOST        = ${DB_HOST:null}
DB_PORT        = ${DB_PORT:null}
DB_DATABASE    = ${DB_DATABASE:null}
DB_USERNAME    = ${DB_USERNAME:null}
DB_PASSWORD    = ${DB_PASSWORD:null}