<div class="user-profile-section p-4 bg-white dark:bg-opacity-5 border-t-8 border-l-8 border-slate-100 dark:border-slate-800">
    <div class="grid grid-cols-1 md:grid-cols-6 gap-4 rounded-2xl">

        <div class="md:col-span-3 lg:col-span-2 h-auto">

            <div class="p-5 lg:p-10">
                <div class="w-full md:min-w-64 flex justify-center">
                    <div class="pr-0 w-full max-w-64 min-h-64 overflow-hidden relative">
                        <img [src]="src">
                    </div>
                </div>
            </div>

        </div>
        
        <div class="md:col-span-3 lg:col-span-4">
            <div class="px-5 md-form-field">

                <div class="grid grid-cols-1 gap-5 py-5">

                    <div class="flex items-center">
                        <mat-icon svgIcon="feather:user"></mat-icon>
                        <p class="w-40 ml-3">ឈ្មោះ</p>
                        <p>: {{ user.name }}</p>
                    </div>
                    
                    <mat-divider></mat-divider>

                    <div class="flex items-center">
                        <mat-icon svgIcon="mat_outline:mail"></mat-icon>
                        <p class="w-40 ml-3">អ៊ីមែល</p>
                        <p>: {{ user.email }}</p>
                    </div>

                    <mat-divider></mat-divider>
                    
                    <div class="flex items-center">
                        <mat-icon svgIcon="heroicons_outline:phone"></mat-icon>
                        <p class="w-40 ml-3">លេខទូរស័ព្ទ</p>
                        <p>: {{ user.phone }}</p>
                    </div>

                    <mat-divider></mat-divider>

                </div>

                <div class="flex justify-end gap-5 py-5">
                    <button 
                        class="w-full md:w-fit min-w-15 helpers-mat-button-md" color="primary" mat-stroked-button (click)="updateDialog()">
                        <mat-icon svgIcon="feather:edit"></mat-icon>
                        <span class="ml-3">កែប្រែ</span>
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>

<div>
    <ng-template #loadingTemplate>
        <div class="overflow-hidden min-h-30">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-template>
</div>
