/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Helpers's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Moul&family=Poppins:wght@100;200;300;400;500&family=Kantumruy+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Kantumruy Pro', sans-serif, cursive !important;
    font-size: 1rem;
    font-weight: 500;
}

.custom-border {
    border: 1px solid #102D71 !important;
}
