<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Stop File Service</title>
    <link rel="shortcut icon" href="/static/file-icon.png" type="image/x-icon">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 16px;
        }

        body {
            background-color: rgb(255, 245, 245);
        }

        .w-full {
            width: 100vw;
        }

        .h-full {
            height: 100vh;
        }

        .flex {
            display: flex;
        }

        .items-center {
            align-items: center;
        }

        .justify-center {
            justify-content: center;
        }

        .flex-col {
            flex-direction: column;
        }

        .p-2 {
            padding: 0.5rem;
        }

        .text-4xl {
            font-size: 2rem;
        }

        img {
            padding: 0.5rem;
            border: 1px dashed lightgray;
            border-radius: 1rem;
            width: 100%;
            max-width: 432px;
            max-height: auto;
            object-fit: contain;
        }

        span {
            margin-top: -3.5rem;
            color: lightskyblue;
        }
        
    </style>
</head>

<body>
    <div class="w-full h-full flex flex-col justify-center items-center p-2">
        <img src="/static/file-icon.png" alt="file-icon">
        <span class="text-4xl">One Stop File Service</span>
    </div>
</body>

</html>