::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}
.mat-mdc-dialog-content.mdc-dialog__content{
    min-height: 85vh !important;
}
::ng-deep .noError {
    .mat-mdc-form-field-subscript-wrapper {
        height: 0px !important; 
    }
}