<div class="list-user-section">
    <div class="min-h-14 max-h-14 flex gap-2 justify-between items-center py-2 pl-5 pr-2.5">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center">
                <mat-icon class="text-gray-600 dark:text-white icon-size-5" matPrefix [svgIcon]="'heroicons_outline:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1.5">
                <span class="text-lg text-gray-600 dark:text-white -mb-0.5">អ្នកប្រើប្រាស់</span>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div class="flex items-center min-w-50 max-w-50 h-10 custom-border rounded-[0.65rem] overflow-hidden">
                <input placeholder="ស្វែងរក" class="w-full px-3 h-10" (keyup.enter)="list()" [(ngModel)]="key">
                <button class="bg-[#102D71] min-w-13 max-w-10 h-full pt-1.5 hover:opacity-[0.96] transition-all"
                    (click)="list()">
                    <mat-icon class="icon-size-6 text-white" svgIcon="heroicons_outline:magnifying-glass"></mat-icon>
                </button>
            </div>
            <button class="helpers-mat-button-sm" mat-flat-button (click)="create()">
                បង្កើត
            </button>
        </div>
    </div>
    <div class="list-user-body">
        <div class="no-data" *ngIf="dataSource.data.length == 0 && !isLoading">
            <div class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </div>

        <div class="list-user-content px-4 pb-4 rounded-bl-xl rounded-br-xl">
            <div class="list-user-data hidden" [ngClass]="{'flex-custom': dataSource.data.length > 0  && !isLoading}">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="profile">
                        <th mat-header-cell *matHeaderCellDef> គោត្តនាម និង នាម </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex">
                                <div class="p-2 pl-0">
                                    <img class="rounded-full min-w-[45px] max-w-[45px] min-h-[45px] max-h-[45px] object-cover"
                                        [src]="fileUrl+element.avatar" alt="avatar">
                                </div>
                                <div class="flex flex-col min-h-12 max-h-12 justify-center pl-1 pt-3.5">
                                    <strong class="text-lg">{{element?.name}}</strong>
                                    <small class="opacity-75 dark:opacity-50">{{element?.type?.name}}</small>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="contact">
                        <th mat-header-cell *matHeaderCellDef> ទំនាក់ទំនង </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex flex-col gap-1.5">
                                <a href="mailto:{{element?.email}}" target="_blank"
                                    rel="noopener noreferrer">{{element?.email}}
                                </a>
                                <a href="tel:{{element?.phone}}" target="_blank" rel="noopener noreferrer">
                                    {{element?.phone}}
                                </a>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="last_activity">
                        <th mat-header-cell *matHeaderCellDef> សកម្មភាពចុងក្រោយ</th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{element?.created_at | date:'LLL dd YYY'}} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> ស្ថានភាព </th>
                        <td mat-cell *matCellDef="let element">
                            <ui-switch [checked]="element?.is_active == 1" (change)="onChange($event, element)">
                            </ui-switch>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="updatePassword(element.id)">
                                    <mat-icon class="icon-size-5" svgIcon="heroicons_outline:key"></mat-icon>
                                    <span class="text-lg text-gray-500 dark:text-white">ផ្លាស់ប្តូរពាក្យសម្ងាត់</span>
                                </button>
                                <button mat-menu-item (click)="update(element)">
                                    <mat-icon class="icon-size-5 text-blue-500"
                                        svgIcon="heroicons_outline:eye"></mat-icon>
                                    <span class="text-lg text-blue-500">កែប្រែទិន្នន័យ</span>
                                </button>
                                <button mat-menu-item (click)="onDelete(element)">
                                    <mat-icon class="icon-size-5 text-red-400"
                                        svgIcon="mat_solid:delete_outline"></mat-icon>
                                    <span class="text-lg text-red-400">លុបទិន្នន័យ</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
        <div class="list-user-paginator hidden" [ngClass]="{'flex-custom': dataSource.data.length > 0}">
            <mat-paginator class="w-full flex items-end justify-end overflow-hidden" [pageSizeOptions]="[10, 20, 30]"
                [showFirstLastButtons]="true" [length]="total" [pageSize]="limit" (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
    </div>

</div>
